<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #CC0000;">

 
  <div class="container text-center text-md-left">

   
    <div class="row">

     
      <div class="col-md-4 mx-auto">
        <img src="../../../assets/Images/Logo2.png" routerLink="/" height="100px" style="margin-left: 7px; margin-top: 10px; cursor:pointer"/>
      </div>
     
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(212, 24, 24)"><span style="color: black">A propos </span></h4>

        <ul class="list-unstyled">

          <li>
            <div style="display: flex; justify-content: space-between;">
              <mat-icon>home</mat-icon>8 Rue De Toulouse Tunis
            </div>
            <div style="display: flex; justify-content: space-between;">
              <mat-icon>phone</mat-icon>(+216) 99 888 888
            </div>
            <div style="display: flex; justify-content: space-between;">
              <a href="mailto:proTech@gmail.com"><mat-icon>email</mat-icon></a>proTech@gmail.com
            </div>
        
          </li>
        </ul>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr style="width:80%">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="" class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f" style="font-size: 20px;color:white;" title="Facebook Page"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-youtube" style="font-size: 20px;color:white;" title="Youtube Channel"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-instagram"  style="font-size: 20px;color:white;" title="Instagram Account"> </i>
      </a>
    </li>

  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: black;font-family: Verdana, Geneva, Tahoma, sans-serif;">© 2021 Copyright </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
