<app-nav ></app-nav>
<div class="showCard" >
  
    <div class="divshow" >
        <img  mat-card-image *ngIf="produit.image != null; else noimage"   class="card-img-top" [src]="'http://localhost:4000/files/' + produit.image">
        <ng-template #noimage>
          <img  mat-card-image class="card-img-top" src="../../../assets/Images/Logo2.png">
        </ng-template>
       
        <div class="divparag">
            <h2>{{produit.nom}}</h2>
            <h1>{{produit.prix}} DT</h1>
          <p>
            {{produit.desc}}
          </p>
        </div>
    </div>
    
    
</div>
  
<app-footer></app-footer>